//Components
script(type='text/javascript', src='/components/angular/angular.js')
script(type='text/javascript', src='/components/angular-route/angular-route.js')
script(type='text/javascript', src='/components/angular-resource/angular-resource.js')
script(type='text/javascript', src='/components/d3/d3.js')

//Angular Initialization
script(type='text/javascript', src='javascripts/app.js')
script(type='text/javascript', src='javascripts/config.js')
script(type='text/javascript', src='javascripts/init.js')

//Charts
script(type='text/javascript', src='/javascripts/directives/age.js')
script(type='text/javascript', src='/javascripts/charts/agechart.js')

//Angular Controllers
script(type='text/javascript', src='/javascripts/controllers/main.js')

//Angular Services
script(type='text/javascript', src='/javascripts/services/directory.js')