<h1>This is the Angular View</h1>
<input ng-model="newEmployee.first" placeholder="First Name">
<input ng-model="newEmployee.last" placeholder="Last Name">
<input ng-model="newEmployee.age" placeholder="Age">
<button ng-click="addEmployee()">Add Employee</button>
<br>
<input ng-model="filters.first" placeholder="First Name">
<input ng-model="filters.last" placeholder="Last Name">
<input ng-model="filters.age" placeholder="Age">
<button ng-click="getList()">Filter List</button>
<table>
    <tbody ng:repeat="employee in dirData">
        <tr>
        	<td><input type="checkbox"></input></td>
            <td>{{employee.first}}</td><td>{{employee.last}}</td><td>{{employee.age}}</td>
        </tr>
    </tbody>
</table>
<button ng-click="">Fire Selected</button>
<age-chart dir-data="dirData"></age-chart>
<button ng-click="changeValue()">Change Value</button>